---
import { Layout } from "@layouts/auth";
import { Button } from "@widgets/auth";
---

<Layout>
	<main class="w-[700px] mx-auto">
		<section class="text-center mt-28">
			<h1 class="text-3xl font-extrabold text-white mb-2">Choi Taekwando POS</h1>
			<Button text="Centro de administración" url="/admin"/>
			<Button text="App" url="/app"/>
		</section>
	</main>
</Layout>
